
:root{
    --fondoBody:#54a34d8c;
    --colorLetra:  #094317;
    --colorBoton: #093318;
    --cremaVerde: #c0efbf;
}

body{
    background-color: var(--fondoBody);
}
.navbar{
    height: 115px;
    background-color: rgb(255, 255, 255);
}

ul{
    background-color:rgb(255, 255, 255);
}

.btn-success{
    
    background-color: var(--colorBoton);
}
.btn-success:hover{
    background-color: var(--fondoBody);
    color: var(--colorBoton);
}
.btn-outline-success{
    color: var(--colorBoton);
}
.btn-outline-success:hover{
    background-color: var(--colorBoton);
    color: white;
}
.mainSecond{
   height:fit-content;
  
}

.boxProduct{
    border: solid 5px #4a6d4511;
    height: 500px;
}

.paddingTop{
    padding-top: 130px;
}

#mensaje{
    height: 200px ;
}

.card{
    background-color: var(--cremaVerde);
}

.img4{
    width: 316px auto;
    height: 319px;
}
.imgC{
    width: 520px;
    height: 360px;
}
.paddingEquipo{
    padding-top: 200px auto;
}
.carousel{
    width: 600px;
    height: 550px;
}
.botonForm{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10%;
    background-color: var(--cremaVerde);
}
footer{
    background-color: white;
    margin-top:120px;
}

p{
    font-size: large;
}