*{
    padding: auto 0px;
}

.navBar{
    display: flex;   
    background-color: rgb(132, 0, 255);
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;

}


.ul_elements{
  
}

.But{
    padding: 10px 50px;
}

.logginCreateAccount{
    position: absolute;
    right: 5%;
       
}