* {
   margin: auto 0px;
   
}
body{
    background-color: #24761c8c;
}

/*ESTILOS BARRA DE NAVEGACION SUPERIOR*/
.navBar{
    display: flex;
    height: 125px;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
 }
.botonesIdioma-Tema{
    display: grid;
    width:200px;
    height: 110px;
    align-content: start;
    
}


.es-in{
   justify-self: end;
}
.sectionBotonesMenu{
    display: flex;
    justify-content: flex-end;
    width:700px;
    margin-right: 0px;
}

.botonHamburguesa{
    padding: 20px 25px 20px 25px;
    border: solid 2px  rgba(251, 164, 3, 0.923);
    background-color: rgb(51, 92, 51);
    border-radius: 30px;
    box-shadow: 3px 3px rgba(48, 46, 46, 0.455);
}

.botonHamburguesa:active{
    transform: translate(2px,2px);
    box-shadow: none;
}


.ulBox{
   display: flex;
   align-self: flex-end;
   border-radius: 10px;
   padding: 30px 0px 30px 30px;
   height: 120;
}
.lic0{
    font-size: 45px !important;
    color: #092f11;
    text-decoration: underline !important;
    width: 250px;
    
}
.lic0:hover{
    text-decoration: none !important;
    color: #092f11;

}
.liC{
    padding: 0px 45px 0px 5px;
    list-style-type: none;
    opacity: 0.8;
   
}

/*ANIMACION BOTONES HAMBURGUESA*/


@keyframes desplegarMenuHamburguesa{
    0%{
        
        transform: translateX(30px);
        
    }
    100%{
        
        transform: translateX(0px);
        opacity: 1;
   
    }

}

@keyframes guardarMenuHamburguesa{
    0%{
        transform: translateX(0px);
        opacity: 1;
    }

    100%{
        transform: translateX(30px);
        opacity: 0;
        
    }

}
@keyframes mostrarLi{
   

    
    95%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
}
@keyframes ocultarLi{
    0%{
        opacity: 0.8;
    }
    10%{
        opacity: 0;
    }
}

.ancla{
    font-size:  18px;
    color: black;
    text-decoration: none;
    transition: all 2s;
}

.ancla:hover{
    color: green;
    text-decoration: underline;
}

.botonLenguaje{
    border: none;

}
.botonLenguaje:hover{
    background-color: grey;
}
/*ESTILOS MEDIO */

.boxFuego{
    width: 100%;
    height: 500px;
    display: grid;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;

    
}
.texto{
    
    text-align: center;
    width: 80%;
    color: #094317;
    
}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

.botonBoxFuego{
    width: 280px;
    height: 50px;
    border-radius: 5px;
    color: #092f11;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botonBoxFuego:hover{
    transition: all 0.5s;
    background-color: #092f11;
    color: white;
}
.buttonNC{
    background-color: #092f11;
    color: white;
}

.buttonNC:hover{
    background-color: white;
    color: #092f11;
}
.section1-main2 p{
    font-size: 25px;
    width: 70%;
}
.boxI h1{
    color: #094317;  
    font-size: 70px;  
}

.boxI pre{
    font-size: 25px;
}


.section2-main2{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.boxInformacion{
    display: grid;
    justify-items: center;
    text-align: center;
    width: 300px;
    height: 350px;
    
}
.boxInformacion h3{
    justify-self: end;
}

/* SECCION ESTILOS COMPRA */

.mainCompra{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;;
    width: 100%;

}


.circulo{
    background-color:coral;
    width: 30px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
 
}

.sectionCompra{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 80%;
    gap: 40px;
}

.card{
    display: grid;
    justify-items: center;
    align-self: center;
    background: linear-gradient(#66cd1f, #03210a);
    border: solid 5px #4a6d4511;
    height: 600px;
    transition:  all 1s;
 

}
.card:hover{
    border: solid 5px #073811ae;
}

.botonRestar{
   
    color: #ffffff;
    background-color: #5d5e5d8b;
    border-radius: 15px ;
    font-size: 20px;
    box-shadow:  10px;
    opacity: 0;
    width: 50px;
    height: 35px;
 
    transition: all 0.5s;

    text-align: center;
}

.botonRestar:hover{
    
    background-color: #5d5e5de2;
}


.carroBoton {
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: #03210a;
    right: 35px;
    bottom: 35px;
    font-size: 30px;
    color:wheat;
    border-radius: 50%;
    box-shadow: 4px 4px rgba(21, 33, 12, 0.823);
    border:7px solid green;
    opacity: 0;
    transition: 0.5s all;

  }
  .carroBoton:active{
    box-shadow:none;
    translate: 4px 4px;
  }
.mostrar {
    opacity: 1;
 }

/* Estilos Logo y Texto despues de la compra*/
.sectionLogoYTexto{
    display: flex;
    align-items: center;
    align-self: center;
    width: 100%;
    margin-top: 150px;
}
.divTextoNextImg{
    display: grid;
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;

}


.divTextoNextImg h1{
   
    font-size: 35px;
    color: #094317;
}
.divTextoNextImg p{
    font-size: 27px;
    opacity: 0.8;
}








/*------------------------------------------------------*/

.elEquipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;

}
.elEquipo h1{
    color: #094317;
    font-size: 50px;
    margin-bottom: 20px;
}

.elEquipo p{
    margin: 30px 0px 30px 0px;
    font-size: 25px;
    opacity: 0.8;
}

.elEquipo img{
    border: 5px #1a632b solid;
}


/* CLASES PARA FORMULARIO*/

.mainContacto-Horarios{
    display: flex;
    background-color:  #073f09;
    justify-content: center;
}
.divFormulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
}