
:root{
    --azulFondo:rgb(24, 28, 48);
    --crema:  #E6DDC4;
    --cremaRecuadros: #f0e9d2;
    --gris: #808080;
   --sombraVerde: #678983;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px;
    
}

body{

    background-color: var(--azulFondo);
    color: var(--crema);
}


/*-------- Estilos de la barra de navegacion superior , excepto la clase ancla, que se utilizan tambien en las cajas del index con la imagen, el parrafo y el boton de redireccionamiento ------ */

.navBar{

    display: flex;   
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
    height: 85px;
}

.ul_elements{
    display: flex;
    justify-content: space-around;
    width: 300px;
  

}
.elementLi{
    list-style-type: none;
 
}
/*  CONSULTA! , el transform:translate en este caso la unica forma que me funciono fue aplicarlo al Li y al ancla(ambos con la subclase active) pero en el caso de las cajas del index que tambien tienen anclas, funciona perfectamente, no entiendo porque */
.elementLi:active{
    transform: translate(3px,3px);
    box-shadow: none;
}
.ancla{
    padding: 10px ;
    
    background-color: var(--cremaRecuadros);
    color: black;
    border-radius: 10px;
    box-shadow: 3px  3px var(--gris) ;
}
.ancla:active{
    transform: translate(3px,3px);
    box-shadow:none ;
}

/* ------ Estilos del header con la imagen y su titulo--------*/


.headerImagen{
    display: flex;
    justify-content: center;
    background: url(Imagen/codigo.jpg) fixed;;
    height: 500px;
    background-size: cover;
    
}
h1{
    font-size: 56px;
    text-shadow: 2px 2px var(--gris), 5px 6px  #000000  ;
}

/* --- Estilos de la pagina principal del Index-----*/

.cont{
    display: flex;
    width: 100%;
    justify-content: center;
    text-shadow: 2px 2px black;
    color:   var(--sombraVerde);
    font-size: 40px;


}

.contenidoMain{
    display: flex;
    height:800px;
    justify-content: space-evenly;
}

section .ancla{
    background-color: var(--azulFondo);;
    color: var(--cremaRecuadros);
}
.sectionBox {
    display: flex;
    width: 350px;
    height: 400px;
    justify-content: space-evenly; 
    flex-direction: column;
    background-color:  var(--crema);
    border:  solid 5px var(--sombraVerde);
    align-items: center;    
}
.sectionBox p{
    text-align: center;
    color: black;
}

.sectionBox img{
    margin: 0;
    width: 350px;
}

.sectionBox a{
    padding: 10px 50px;
    background-color:  var(--azulFondo);;
    color: white;
}


/* -------Estilos de pagina Historias--------*/


.mainContent{
    display: flex;
    flex-direction: column;
    
}

/*En esta seccion no estoy seguro si est es la forma correcta de acomodar los divs de las cajas, o si deberia hacer una clase general para los divs, y despues asignarles una clase independiente a cada una para que queden diferentes*/
.divCaja{
    display: flex;
    justify-content: space-around;
    padding: 80px 50px;
    align-items: center;
    gap: 20px;
    
}

.h2Div{
    width: 50%;
    color: var(--sombraVerde);
    font-size: 36px;
    text-shadow: 2px 2px black;
    align-items: center;
}
.pDiv{
    width: 50%;
}


.mainVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
}


.sectionVideo{
width: 70%;
background-color:  black;
border: solid 5px black;
}

.elVideo{
    width: 100% ;
}


.botonesTiempo{
    display: flex;
    background-color: #2a2525;
    justify-content: space-between;
    height: 50px;
    align-items: center;
   
    border-radius: 20px;
   
}
.botonPlay{
    background: url(Imagen/play.svg) center no-repeat;
    margin: 0 20px;
    width: 90px;
    height: 35px;
    background-color: var(--cremaRecuadros);
    border-radius: 7px;
    box-shadow: 2px 2px var(--gris);
}

.botonPlay:active{
    transform: translate(2px,2px);
    box-shadow: none;
}

.botonPause{
    
    background: url(Imagen/pausa.svg) center no-repeat;
    width: 90px;
    height: 35px;
    background-color: var(--cremaRecuadros) ;
    border-radius: 7px;
    box-shadow: 2px 2px var(--gris);   
}

.botonPause:active{
    transform: translate(2px,2px);
    box-shadow: none;
}
.tiempoVideo{
    display: flex;
    margin-right: 20px;
}

/* --------Estilos del pie de la pagina---------- */


.footerInfo{
height: 200px;
display: flex;
background-color: var(--sombraVerde);
color: var(--azulFondo);;;
justify-content: space-between;

}

.footerInfo img{
    width: 100px;
   
}

.footLeft{
    display: flex;
    justify-content: space-between;
    width: 30%;

}
.footLeft h3{
    font-size: 1.17em;
    text-align: center;
}
